/* Variables */
$background-color-main: #131217;
$font-color-main: #b0bec5;
$font-family-main: "Roboto", sans-serif;

/* Global styles, also import other style files */
body {
  margin: 0;
  color: $font-color-main !important;
  background-color: $background-color-main;
  font-family: $font-family-main !important;
}
