<header class="headerNavigation">
  <img class="headerNavigation__logo" alt="SadGang brand logo" src="../../assets/main-logo.png"/>
</header>

<section class="gallerySection">
  <div class="gallerySection__head">
    <h1 class="head__title">{{gallery.title}}</h1>
    <p class="head__title">{{gallery.description}}</p>
  </div>
  <div class="gallerySection__gallery">
    <div class="gallery__panel">
      <img alt="Gallery image, SadGang's clothes"/>
      <span class="icon--touch"></span>
    </div>
    <div class="gradient--panel">
      <span class="gradient--line"></span>
    </div>
  </div>
</section>
