<header class="headerNavigation">
  <img class="headerNavigation__logo" alt="SadGang brand logo" src="../../assets/main-logo.png"/>
</header>

<section>
  <div className="gallery--v1">
    <div className="head">
      <h1 className="head__title"></h1>
      <p className="head__title"></p>
    </div>
    <div className="gallery">
      <div className="gallery__panel">
        <div>
          <img alt="Gallery image, SadGang's clothes"/>
          <span className="icon--touch"></span>
        </div>
      </div>
    </div>
    <div className="gradient--panel">
      <span className="gradient--line"></span>
    </div>
  </div>

</section>
